.container {
  text-align: center;
  list-style-position: inside;
}
.left {
  text-align: left;
}

.title {
  color: red;
}

.navigation a {
  color: blueviolet;
  margin-left: 10px;
}

.subtitle {
  color: blueviolet;
}
h4 {
  color: darkkhaki;
}
